.labels, .login_labels{
    font-family: fantasy;
    font-weight: 100;
}

#name, #username, #password, #Lusername, #Lpassword{
    border: 2px solid black;
    border-radius: 7px;
    font-family: monospace;
    background-color: rgb(116, 253, 255);
}

#r_btn{
    border: 2px solid yellow;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-family: monospace;
}

#l_btn{
    border: 2px solid black;
    border-radius: 10px;
    background-color: yellow;
    color: rgb(22, 12, 71);
    font-family: monospace;
}

#form_Div{
    display: flex;
}

#login_Div{
    display: none;
}

#form_Names_Div{
    display: flex;
}

#register_Form_Name{
    margin-right: 30px;
}
