#main-content{
    flex: 1;
    background-color: #1a1a1a;
    padding: 30px;
}
h1{
    color: white;
}

#question-subtitle{
    color: #b0b0b0;
    margin-top: 8px;
    margin-bottom: 25px;
}

#question-subtitle{
    color: #b0b0b0;
    margin-top: 8px;
    margin-bottom: 25px;
}

#search-container{
    margin-bottom: 30px;
}

#search-container input{
    width: 100%;
    padding: 15px 20px;
    background-color: #242424;
    border: 1px solid #333;
    border-radius: 12px;
    color: white;
    font-size: 1rem;
    outline: none;
}

#search-container input:focus{
    border-color: #2d5fff;
}

.section-title{
    color: white;
    margin-bottom: 20px;
}

.question-card{
    background: linear-gradient(135deg,#151515,#222);
    border: 1px solid #333;
    border-radius: 18px;
    padding: 25px;
    margin-bottom: 20px;
}

.question-card h3{
    color: white;
    margin: 15px 0;
}

.question-card p{
    color: #b0b0b0;
    margin-bottom: 15px;
}

.category{
    display: inline-block;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 0.8rem;
    color: white;
}

.sports{
    background-color: #2d5fff;
}

.question-card button{
    background: #2d5fff;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 10px;
    cursor: pointer;
}
.question-info{
    display:flex;
    gap:20px;
    color:#b0b0b0;
    margin-bottom:20px;
}

.odds-container{
    display:flex;
    gap:15px;
    margin-bottom:20px;
}

.yes-box,
.no-box{
    flex:1;
    padding:15px;
    border-radius:12px;
    text-align:center;
    color:white;
    font-weight:600;
}

.yes-box{
    background:#0f5132;
}

.no-box{
    background:#842029;
}

.yes-box span,
.no-box span{
    display:block;
    margin-top:8px;
    font-size:1.2rem;
}
.choice-box{
    cursor:pointer;
    transition:0.3s;
}

.choice-box:hover{
    transform:translateY(-4px);
}

.choice-box.selected{
    border:3px solid white;
}

.bet-section{
    display:flex;
    gap:15px;
    margin-top:20px;
}

.bet-section input{
    flex:1;
    padding:12px;
    border-radius:10px;
    border:none;
    background:#242424;
    color:white;
    outline:none;
}

.bet-btn{
    padding:12px 25px;
    border:none;
    border-radius:10px;
    background:#2d5fff;
    color:white;
    cursor:pointer;
}